<!DOCTYPE html>
<html ng-app="cheeseBoard">
<head>
  <meta charset="utf-8">
  <title>Cheese Board: Services from Cambridge</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="main.js"></script>
  <script src="sample_response.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" integrity="sha256-4y5taf5SyiLyIqR9jL3AoJU216Rb8uBEDuUjBHO9tsQ=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <style>
  body {
    background-color: #000000
  }
  .top-header {
    color: #ffcf00;
    font-family: 'Montserrat', sans-serif;
  }
  .white {
    color: #fff;
  }
  </style>
</head>
<body ng-controller="cheeseBoardController" class="container-fluid">

  <h2 class="top-header">Current Time {{date | date:'HH:mm:ss'}}</h2>

  <table class="table table-inverse">
    <thead>
      <tr>
        <th>Time</th>
        <th>Dest</th>
        <th>Exp</th>
        <th>Plat</th>
        <th>ETA</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="service in resp track by service.std|orderBy : 'std'"
          ng-show="showService($index)">
        <td>{{service.std}} <a ng-show="service.platform">{{minutesFromNow(service.std)}}</a></td>
        <td>{{processStnName(service.destName)}}</td>
        <td>{{service.etd}}</td>
        <td>{{service.platform}}</td>
        <td>{{service.arrivalTime}}</td>
      </tr>
      <tr>
        <th ng-show="resp.length===0">No further service today</th>
      </tr>
    </tbody>
  </table>

  <nav aria-label="..." class="fixed-bottom">
    <ul class="pagination pagination-sm">
      <li class="page-item" ng-class="{disabled: active_page === 0}" href="#">
        <span class="page-link" ng-click="active_page_dec()">&lt;</span>
      </li>
      <li ng-repeat="i in getNumber(num_pages) track by $index" class="page-item"
          ng-class="{'active' : active_page === $index}">
        <a class="page-link" href="#">
          {{$index+1}}
        </a>
      </li>
      <li class="page-item" ng-class="{disabled: active_page === num_pages-1}">
        <a class="page-link" ng-click="active_page_inc()" href="#">&gt;</a>
      </li>
    </ul>
  </nav>

  <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
    <span class="octicon octicon-gear white"></span>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cheese Board Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert"
               ng-show="settingsError != undefined">{{settingsError}}</div>
          <form name="set" novalidate>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" value="departures" ng-model="settings.board">
                Departure
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" value="arrivals" ng-model="settings.board">
                Arrival
              </label>
            </div>

            <div class="form-group row"
                 ng-class="{'has-danger': set.from.$error.crs}">
              <label for="example-text-input" class="col-2 col-form-label">
                From
              </label>
              <div class="col-10">
                <input class="form-control typeahead"
                       type="text"
                       placeholder="Station Code or Name"
                       autocomplete="off"
                       ng-model="settings.from"
                       name="from"
                       ng-model-options="{ updateOn: 'blur'}"
                       crs>
              </div>
            </div>

            <div class="form-group row"
                 ng-repeat="filter in settings.destFilters track by $index"
                 ng-class="{'has-danger': set.to{{$index}}.$error.crs}">
              <label for="to-station-text-input" class="col-2 col-form-label">
                To
              </label>
              <div class="col-8">
                <input class="form-control typeahead"
                       type="text"
                       placeholder="Optional Station Code or Name"
                       autocomplete="off"
                       ng-model="settings.destFilters[$index]"
                       ng-init="initTypeAhead()"
                       name="to{{$index}}"
                       ng-model-options="{ updateOn: 'blur'}"
                       crs>
              </div>
              <button type="button" class="btn btn-default"
                      ng-click="settings.destFilters.splice($index,1)">
                <span aria-hidden="true">-</span>
              </button>
            </div>

            <div class="form-group row">
              <button type="button" class="btn btn-default col-8"
                      ng-click="settings.destFilters.push('')">
                <span aria-hidden="true">add destination filter</span>
              </button>
            </div>

            <div class="form-group row">
              <label for="rows_per_page" class="col-8 col-form-label">Number of rows per page</label>
              <div class="col-4">
                <input class="form-control" type="number" min="0" value="4" ng-model="settings.rowPerPage">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="save_settings(settings)">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
